<!-- NOTE: changes not just in this component -->
<!-- TODO: 3. Use Semantic HTML properly, what's wrong with this usage of main  (DONE) -->
<!-- TODO: 4. Our header and footer are suppose to fill the full width of the page and sit flush to the top / bottom -->
<!-- e.g. no whitespace around the header / footer  (DONE) -->
<main>
  <header>
    <pre-header [userName]="userName$"></pre-header>
  </header>
  <section>
    <nav>
      <pre-side-nav [sideNavItems]="sideNavItems"></pre-side-nav>
    </nav>
    <article>
      <!-- Used Article to hold each route specific item -->
      <router-outlet></router-outlet>
    </article>

  </section>
  <footer>
    <pre-footer></pre-footer>
  </footer>
</main>
