<h1>Account Details</h1>

<!-- <p>Account ID</p> -->
<!-- TODO: how to retrieve account id and other account details in this route? (DONE)-->

<!-- copied table format from account summary for consistancy-->
<table>
  <tr>
    <th scope="col">Account Name</th>
    <th scope="col">Balance</th>
    <th scope="col">
      <label>Account Type</label>
    </th>
  </tr>
  <!-- account is the current account route we have open -->
  <tr account>
    <td>{{account.id}}</td>
    <td>{{account.balance}}</td>
    <td>{{account.currency}}</td>
  </tr>
</table>
